.dialog{
	max-height: 500px;
	top: 150px !important;
}

.dialogHeader{
	width: inherit;
	position: relative;
	:global {
		.MuiButtonBase-root{
			position: absolute;
			right : 10px
		}
	}
}

.headings{
	font-weight: 500;
	font-size: 1.2rem;
	font-style: italic;
	color :blue
}
