.repositoryContainer {
	padding: 5rem 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 3rem;
}

.cardContainers {
	cursor: pointer;
}

.reposGridContainer{
	  width : 50%;
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width : 800px) {
    .reposGridContainer{
        display : flex;
        flex-direction: column;
				align-items: center;
        row-gap:10px;
        margin-bottom: 10px;
    }
}