@import '../main.scss';

.repositoryContainer {
	@extend .flexDisplay;
	padding: 2rem 0 ;
	row-gap: 3rem;
	:global {
		.MuiPaper-root {
			border-radius: 10px;
			width: 100%;
		}
		.MuiFormControl-root{
			margin :auto;
		} 
	}
}

@media screen and (max-width : 500px) {
	.repositoryContainer{
		:global {
		.MuiFormControl-root{
			margin :0 20px;
		} 
	}
	}
}

.cardContainers {
	cursor: pointer;
	border-radius: 10px;
	border : 0.5px solid grey;
	width: inherit;
	&:hover{
		border: 1px solid blue;
	}
}

.reposGridContainer{
  @extend .flexDisplay;
	width : 70%;
  row-gap:10px;
  margin-bottom: 10px;
}