.repositoryContainer {
	padding: 2rem 0 ;
	display: flex;
	flex-direction: column;
	align-items: center;
	row-gap: 3rem;
	:global {
		.MuiPaper-root {
			border-radius: 10px;
			width: inherit;
		}
		.MuiFormControl-root{
			margin :auto;
		} 
	}
}

.cardContainers {
	cursor: pointer;
	border-radius: 10px;
	border : 0.5px solid grey;
	&:hover{
		border: 1px solid blue;
	}
}

.reposGridContainer{
	  width : 75%;
    display : grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width : 800px) {
    .reposGridContainer{
        display : flex;
        flex-direction: column;
				align-items: center;
        row-gap:10px;
        margin-bottom: 10px;
    }
}